@import url('https://fonts.googleapis.com/css?family=Heebo');

.photoFooter {
    width: 65%;
  }
  
  a.facebook {
    color: #4968ad;
    padding-right: 10px;
  }
  
  a.twitter {
    color: #49a1eb;
    padding-right: 10px;
  }
  
  a.instagram {
    color: white;
    padding-right: 10px;
  }

  a.linkdin {
    padding-right: 10px;
  }

  .buttonStyleFooter{
    margin-left: 15px;
    margin-top: 20px;
  }

  .fontType2{
    font-family: 'Heebo'
  }

