.photoCompanyMan {
  width: 100vw;
  height: 30vh;
  padding-bottom: 60px;
}

  .text-on-imageCompany {
    position: absolute;
    right: 80%;
    left: 0%;
    bottom: 70%;
    color: aliceblue;
    font-size: 50px;
    display: flex;
    justify-content: center;
  }
