.photoCompanyMan {
  width: 100vw;
  height: 30vh;
  padding-bottom: 60px;
}

  .text-on-imageCompany {
    position: absolute;
    right: 80%;
    left: 0%;
    bottom: 70%;
    color: aliceblue;
    font-size: 50px;
    display: flex;
    justify-content: center;
  }

  .centerInvestor{
    text-align: center;
    padding-right: 65px;
  }

  .accordion{
    display: flex;
    justify-content: left;
  }


  .photoWave {
    width: 15%;
    height: 15%;
    padding-bottom: 20px;
  }