.photoCompanyMan {
    width: 100vw;
    height: 30vh;
    padding-bottom: 60px;
  }

  .photoDashboard{
    width: 700px;
    height: 400px;
    padding-bottom: 10px;
  }

  .row{
      padding-left: 60px;
  }

  .content1{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: larger;
    text-align: center;
  }

  .boldText {
      font-weight: bold;
  }

  .react-icons {
    vertical-align: middle;
    size: 1000px;
  }

  .button{
    align-items: center;
  }

  .text-on-imageCompany {
    position: absolute;
    right: 80%;
    left: 0%;
    bottom: 70%;
    color: aliceblue;
    font-size: 50px;
    display: flex;
    justify-content: center;
  }