@import url('https://fonts.googleapis.com/css?family=Heebo');

.navbar-default {
  height: 100px;
}

  .logo {
    width: 300px;
    height: 75px;
    padding-top: 5px;
  }

  .fontType2{
    font-family: 'Heebo'
  }

  .buttonStyleHeader{
    margin-left: 20px;
  }
